{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="login-form">
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Sign up</h2>
        <br>
        {% for error in field.errors %}
            <div class="form-group has-errors text-danger large">
                {{error}}
            </div>
        {% endfor %}
        <div class="shiftLeft">
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}} {{field}}
        </div>
        {% endfor %}
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </div>
    </form>
    <p class="text-center"><a href="{% url 'login' %}">Already have an Account</a></p>
</div>
{% endblock %}
