{% extends "base.html" %}
  {% block content %}
  <div style="color: #070707; font-family: Gill Sans; margin-left: 300px;">
    <b><h1>About Application And Developer</h1></b>
  </div>
  <br><br>
  <div style="font-size: 16px; margin-left: 200px;" class="col-md-10 font-family: Georgia;" >
  <p>This is a simple webapp for Managing Your Task.</p>
  <p>It is made upon python Django framework and uses Bootstrap3 with jQuery on the frontend.</p>
  <p>Database used is SQLite, APIs Made Using DjangoRest.</p>
  <p>Its an open-source project, with source code available on github.&nbsp<a href="https://github.com/kartikeyrajvaidya/TaskManagerApp">Code Link</a></p>
  <p>Developer profiles : &nbsp&nbsp<a href="https://github.com/kartikeyrajvaidya">Github</a>,&nbsp<a href="https://www.linkedin.com/in/kartikeyrajvaidya/">LinkedIn</a>,&nbsp<a href="https://www.hackerrank.com/kartikeyarajvai1">Hackerearth</p>
  </div>
  {% endblock %}
