{% extends "base.html" %}
  {% block content %}
  <div class="container">
    <div style="color: #070707; font-family: Gill Sans; margin-left: 300px;">
      <b><h1>Never let yesterday use up today.</h1></b>
    </div>
    <br>
    <br>
  <div style="font-size: 16px; margin-left: 200px;" class="col-md-10 font-family: Georgia;" >
    <p>
      This is a simple web Application for managing Your Day to Day Tasks.
    </p>
    <p>
      It has a Todo list Feature Which Let You Create Task.
    </p>
    <p>
      You can also Create Subtask WithIn a Task you can also set Alert before your Task Duedate.
    </p>
    <p>
      You can mark Task as complete or pending, search by title name, and also Filter Tasks.
    </p>
  </div>
  </div>
{% endblock %}
