{% extends 'base.html' %}
{% block content %}
<script>
      $(document).ready(function(){
        var storedValue = sessionStorage.getItem('dropdownselected') || 'All';
        document.getElementById("dropdown_text").innerHTML = storedValue;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            //console.log(this.responseText);
            var todoList=JSON.parse(this.responseText);

            $.each(todoList, function (index, todo) {
              //console.log(todo);
              var collapseHref = 'href="#collapse'+index+'"';
              var subTaskCount = todo.subTasks.length;
              var subTaskCountLabel = '';
              var subTaskListToDisplay = '';
              var taskCompleteMarkerAndDueDate = '';
              var title = todo.title;
              var stylePanelTitle = '';
              var stylePanelHeading = '';
              var markTaskButton = '';
              var idForPanel = 'id="hey' + index + '"';
              var idForPanel2 = 'id="hey'+ index + '_title"';
              var buttonDisabled = '';


              if(todo.alert_enabled){
                buttonDisabled = 'disabled';
              }
              if( subTaskCount > 0){
                subTaskCountLabel = '<span class="label label-warning">' + subTaskCount + '<b>&nbsp&nbsp&nbspSubtasks</b></span>';
                $.each(todo.subTasks, function (index, subTask) {
                  if(subTask.isCompleted){
                    subTaskListToDisplay += '<li><button class="btn btn-xs btn-warning marksubtask" id="subundone_'+subTask.id+'_'+todo.id+'"><i class="fa fa-clock-o fa-2x" aria-hidden="true" style="font-size:18px;"></i></button>&nbsp&nbsp&nbsp&nbsp<strong>' + subTask.title+ ' : '+ subTask.description+'</strong></li><br>';
                  }else{
                      subTaskListToDisplay += '<li><button class="btn btn-xs btn-success marksubtask" id="subdone_'+subTask.id+'_'+todo.id+'"><i class="fa fa-check fa-2x" aria-hidden="true" style="font-size:18px;"></i></button>&nbsp&nbsp&nbsp&nbsp<strong>' + subTask.title+ ' : '+ subTask.description+'</strong></li><br>';
                  }

                });
              }else{
                subTaskListToDisplay = 'No SubTask To DisPlay';
              }

              if(todo.isCompleted){
                stylePanelHeading='style="background:#e4ffe2;"';
                stylePanelTitle = 'style="color:#000000;"';
                taskCompleteMarkerAndDueDate = '<span class="label label-success">Completed</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'
                                              +'<span class="label label-success">'+todo.dueDate+'</span>';
                markTaskButton = '<button class="btn btn-warning marktask" id="undone_'+todo.id+'" href="#">Mark Task as Pending</button>&nbsp&nbsp&nbsp&nbsp';

              }else{
                stylePanelHeading='style="background:#ffc1c1;"';
                stylePanelTitle = 'style="color:#000000;"';
                taskCompleteMarkerAndDueDate = '<span class="label label-danger">Pending</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'
                                              +'<span class="label label-danger">'+todo.dueDate+'</span>';
                markTaskButton = '</span>&nbsp&nbsp&nbsp&nbsp<button class="btn btn-success marktask" id="done_'+todo.id+'">Mark Task as Complete</button>&nbsp&nbsp&nbsp&nbsp';
              }


              dataForAccordion = '<div class="panel panel-default"' + idForPanel + '>'
              + '<div class="panel-heading" ' + stylePanelHeading + '>'
              + '<div class="row">'
              + '<div class="col-md-12">'
              + '<div class="col-md-8 panel2"' + idForPanel2 + '>'
              + '<h4 class="panel-title">'
              + '<a data-toggle="collapse" data-parent="#accordion"'+ collapseHref + stylePanelTitle + '>'
              + '<strong>'+title+'</strong></a></h4></div>'
              + '<div class="col-md-1">'+subTaskCountLabel+'</div>'
              + '<div class=" row col-md-3" align="end">' + taskCompleteMarkerAndDueDate + '</div></div></div></div>'
              + '<div id="collapse'+index+'" class="panel-collapse collapse">'
              + '<div class="panel-body"><br>'
              + '<ol>' + subTaskListToDisplay + '</ol><br>'
              + '<button class="btn btn-primary addsubtask" id="'+todo.id+'" data-toggle="modal" data-target="#add_sub_task_modal">Add Sub-tasks</button></div>'
              + '<div class="panel-footer" align="end">'+ markTaskButton
              + '<button class="btn btn-primary addalert" id="'+todo.id+'" data-toggle="modal" data-target="#add_alert_for_task_modal"'+buttonDisabled+'>Add Alert Fot Tasks</button>&nbsp&nbsp&nbsp&nbsp&nbsp'
              + '<button class="btn btn-danger deletetask" id="'+todo.id+'"><i class="fa fa-trash" aria-hidden="true" style="font-size:18px;"></i></button>'
              + '</div></div></div>'
              $('#accordion').append(dataForAccordion);
            });
            }
          };
          xhttp.open("GET", "tasks?filter="+storedValue, false);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send();

           $(".dropdown-item").click(function(){
                //console.log("dropdown clickEEEEEEEEEDDD");
                var text = $(this).text();
                //console.log(text);
                sessionStorage.setItem('dropdownselected', text );
                location.reload();
            });

            $("#add_task_submit").click(function(){

              inputTaskData= {}
              flag = 1
              if(document.getElementById("taskTitle").value != "")
              {
                //  console.log(document.getElementById("taskTitle").value)
                  inputTaskData["title"]= document.getElementById("taskTitle").value;

              }else{
                  $.alert('Please enter a title', 'Invalid Input');
                  flag=0;
              }

              if(document.getElementById("taskDescription").value != "")
              {
                  //console.log(document.getElementById("taskDescription").value)
                  inputTaskData["description"]= document.getElementById("taskDescription").value;

              }else{
                  $.alert('Please enter a Description', 'Invalid Input');
                  flag=0;
              }

              var dueDate = document.getElementById("taskDueDate").value
              if(dueDate != "")
              {
                  if(isValidDate(dueDate)){
                      //console.log(dueDate)
                      inputTaskData['dueDate']= dueDate ;
                  }else{
                      $.alert("Inavlid date", "Enter valid Date")
                      flag=0;
                  }


              }else{
                  flag=0;
              }
              if(flag==1){
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      //console.log(this.responseText);
                      var res=JSON.parse(this.responseText);
                      if(res["message"] == "OK"){
                          $('#add_task_modal').modal('hide');
                          $.confirm({
                              title: 'Task Added!',
                              content: 'Your task was added successfully!',
                              buttons: {
                                  Okay: function () {
                                      location.reload(true);
                                  }
                              }
                          });
                      }
                    }
                  };
                  var parm='title='+ inputTaskData['title']+ '&description=' + inputTaskData['description'] + '&dueDate=' + inputTaskData['dueDate']+ '&csrfmiddlewaretoken=' + '{{csrf_token}}';
                  xhttp.open("POST", "tasks/", false);
                  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                  xhttp.send(parm);
              }else{
                  console.log("REQUEST FAILED... INVALID DATA")
              }
          });
          function isValidDate(s) {
                var bits = s.split('-');
                var today = new Date()
                today.getMonth()+1;
                if( (today.getMonth() + 1) <  bits[1] ){
                  return true;
                }else if( (today.getMonth() + 1) == bits[1]){
                  return today.getDate() <= bits[2]
                }
                return false;
            }
            $(".deletetask").click(function(){

              var task_id = $(this).attr("id");
              //console.log(task_id + "TOOO BEE DELETDDDDD")

              var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      //console.log(this.responseText);
                      var res=JSON.parse(this.responseText);
                      if(res["message"] == "OK"){
                          $.confirm({
                              title: 'Task Deleted!',
                              content: 'Your task was deleted successfully!',
                              buttons: {
                                  Okay: function () {
                                      location.reload(true);
                                  }
                              }
                          });
                      }

                  }
                  };
                  var parm='&csrfmiddlewaretoken=' + '{{csrf_token}}';
                  xhttp.open("DELETE", 'tasks/'+task_id+'/', false);
                  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                  xhttp.send(parm);
          });

          $(".marktask").click(function(){

            var view_id = $(this).attr("id")
            //console.log("MARK TASK VIEW ID "+ view_id)

            var action = view_id.split("_")[0]
            var task_id = view_id.split("_")[1]
            //console.log("MARK TASK ID "+ task_id)
            var is_completed = "FALSE"
            if(action=="done"){
                is_completed = "TRUE"
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            //console.log(this.responseText);
            var res=JSON.parse(this.responseText);
            if(res["message"] == "OK"){
            if(is_completed=="TRUE"){
              $.confirm({
                  title: 'Task marked as Completed!',
                  content: 'Your task was marked completed successfully!',
                  buttons: {
                    Okay: function () {
                      location.reload(true);
                    }
                  }
                });
              }else{
                  $.confirm({
                    title: 'Task marked as Pending!',
                    content: 'Your task was marked as pending !',
                    buttons: {
                      Okay: function () {
                        location.reload(true);
                      }
                  }
                });
              }
            }
            }
          };
          var parm='&isCompleted='+ is_completed + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
          xhttp.open("PUT", 'tasks/'+task_id+'/', false);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send(parm);
          });

          $(".addalert").click(function(){
            //console.log($(this).attr("id"))
            document.getElementById("taskIdForAlert").value = $(this).attr("id");
          });

          $(".addsubtask").click(function(){
            //console.log($(this).attr("id"))
            document.getElementById("taskIdForSubtask").value = $(this).attr("id");
          });

          $(add_alert).click(function(){
            inputAlertData = {};
            if(document.getElementById("hours_befor_task").value != '')
            {
                //console.log(document.getElementById("hours_befor_task").value)
                inputAlertData["hours_before"]= document.getElementById("hours_befor_task").value;

            }else{
                $.alert('Please enter a Hours', 'Invalid Input');
                flag=0;
            }
            inputAlertData["taskId"] = document.getElementById("taskIdForAlert").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //console.log(this.responseText);
                var res=JSON.parse(this.responseText);
                if(res["message"] == "OK"){
                    $.confirm({
                        title: 'Sub tasks Added!',
                        content: 'Your sub-tasks is added successfully!',
                        buttons: {
                            Okay: function () {
                                location.reload(true);
                            }
                        }
                    });
                }
            }
          };
            var parm='task_id='+ inputAlertData["taskId"] +'&hours_before='+inputAlertData['hours_before']+ '&csrfmiddlewaretoken=' + '{{csrf_token}}';
            xhttp.open("POST", "tasks/"+inputAlertData["taskId"]+'/alert/', false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(parm);


          });

          $(".marksubtask").click(function(){
               //console.log($(this).attr("id"))

               var view_id = $(this).attr("id")
               //console.log("MARK SUBBBTASK VIEW ID "+ view_id)

               var action = view_id.split("_")[0]
               var sub_task_id = view_id.split("_")[1]
               var task_id = view_id.split("_")[2]
              // console.log("MARK SUBBTASK ID "+ task_id)

               var is_completed = "FALSE"
               if(action=="subdone"){
                   is_completed = "TRUE"
               }


               var xhttp = new XMLHttpRequest();
               xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                  // console.log(this.responseText);
                   var res=JSON.parse(this.responseText);
                   if(res["message"] == "OK"){
                       if(is_completed=="TRUE"){
                           $.confirm({
                               title: 'Sub-Task marked as Completed!',
                               content: 'This sub-task was marked completed successfully!',
                               buttons: {
                                   Okay: function () {
                                       location.reload(true);
                                   }
                               }
                           });
                       }else{
                           $.confirm({
                               title: 'Sub-Task marked as Pending!',
                               content: 'This Sub-task was marked as pending !',
                               buttons: {
                                   Okay: function () {
                                       location.reload(true);
                                   }
                               }
                           });
                       }

                   }

               }
               };
               var parm='isCompleted='+ is_completed + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
               xhttp.open("PUT", 'tasks/'+task_id+'/subtasks/'+sub_task_id+'/', false);
               xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
               xhttp.send(parm);


           });



          $(addSubTaskSubmit).click(function(){
                var inputSubTaskData ={};
                flag = 0;
                if(document.getElementById("subTaskTitle").value != "")
                {
                    //console.log(document.getElementById("subTaskTitle").value)
                    inputSubTaskData["title"]= document.getElementById("subTaskTitle").value;

                }else{
                    $.alert('Please enter a title', 'Invalid Input');
                    flag=0;
                }

                if(document.getElementById("subTaskDescription").value != "")
                {
                    //console.log(document.getElementById("subTaskDescription").value)
                    inputSubTaskData["description"]= document.getElementById("subTaskDescription").value;

                }else{
                    $.alert('Please enter a Description', 'Invalid Input');
                    flag=0;
                }
                if( flag == 0){
                    taskIdForSubtask = document.getElementById("taskIdForSubtask").value ;
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                      //  console.log(this.responseText);
                        var res=JSON.parse(this.responseText);
                        if(res["message"] == "OK"){
                            $.confirm({
                                title: 'Sub tasks Added!',
                                content: 'Your sub-tasks is added successfully!',
                                buttons: {
                                    Okay: function () {
                                        location.reload(true);
                                    }
                                }
                            });
                        }
                    }
                    };
                    var parm='task_id='+ taskIdForSubtask +'&title='+inputSubTaskData['title']+ '&description='+inputSubTaskData['description'] + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
                    xhttp.open("POST", "tasks/"+taskIdForSubtask+'/subtasks/', false);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send(parm);
                }
                else{
                    //console.log("WRAAAAAAAAAANG");

                }
            });
            $('#search_input').on('change keyup paste click', function () {
                searchTerm = $(this).val();
                $('#accordion > .panel').each(function () {
                  panelContainerId = '#' + $(this).attr('id');
                  var titleText = $(panelContainerId +'_title').text();
                  if(titleText.toLowerCase().search(searchTerm.toLowerCase())==-1)
                  {
                      $(panelContainerId).hide();
                  }
                  else
                  {
                      $(panelContainerId).show();
                  }
                });
              });
              $("#clases").change(function () {
                  $("#hours").toggle();
              });

});
</script>
<div class="container">
			   {% block todo_content %}{% endblock %}
</div>
{% endblock %}
