{% extends 'base.html' %}
{% block content %}
<script>
      $(document).ready(function(){
        var storedValue = sessionStorage.getItem('dropdownselected') || 'All';
        document.getElementById("dropdown_text").innerHTML = storedValue;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);

            var todoList=JSON.parse(this.responseText);

            $.each(todoList, function (index, todo) {
              console.log(todo);
              var collapseHref = 'href="#collapse'+index+'"';
              var subTaskCount = todo.subTasks.length;
              var subTaskLabel = '';
              var taskCompleteMarkerAndDueDate = '';
              var title = todo.title;
              var stylePanelTitle = '';
              var stylePanelHeading = '';

              if( subTaskCount > 0){
                subTaskLabel = '<span class="label label-warning">' + subTaskCount + 'subtasks</span>'
              }
              if(todo.isCompleted){
                stylePanelHeading='style="background:#e9e6e6;"';
                stylePanelTitle = 'style="color:#807e7eda;"';
              }
              if(todo.isCompleted){
                taskCompleteMarkerAndDueDate = '<span class="label label-default">Completed</span>'
                                              +'<span class="label label-default">'+todo.dueDate+'</span>';
              }else{
                taskCompleteMarkerAndDueDate = '<span class="label label-success">Pending</span>'
                                              +'<span class="label label-success">'+todo.dueDate+'</span>';
              }


              dataForAccordion = '<div class="panel panel-default">'
              + '<div class="panel-heading" ' + stylePanelHeading + '>'
              + '<div class="row">'
              + '<div class="col-md-12">'
              + '<div class="col-md-8 panel2">'
              + '<h4 class="panel-title">'
              + '<a data-toggle="collapse" data-parent="#accordion"'+ collapseHref + stylePanelTitle + '>'
              + '<strong>'+title+'</strong></a></h4></div>'
              + '<div class="col-md-1">'+subTaskLabel+'</div>'
              + '<div class=" row col-md-3" align="end">' + taskCompleteMarkerAndDueDate + '</div>'
              + '</div></div></div></div>'
              $('#accordion').append(dataForAccordion);
            });
            }
          };
               xhttp.open("GET", "tasks?"+storedValue, false);
               xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
               xhttp.send();

           $(".dropdown-item").click(function(){
                console.log("dropdown clickEEEEEEEEEDDD");
                var text = $(this).text();
                console.log(text);
                sessionStorage.setItem('dropdownselected', text );
                $('#something').click(function() {
                    location.reload();
                });
            });

            $("#add_task_submit").click(function(){

              inputData= {}
              flag = 1
              if(document.getElementById("taskTitle").value != "")
              {
                  console.log(document.getElementById("taskTitle").value)
                  inputData["title"]= document.getElementById("taskTitle").value;

              }else{
                  $.alert('Please enter a title', 'Invalid Input');
                  flag=0;
              }

              if(document.getElementById("taskDescription").value != "")
              {
                  console.log(document.getElementById("taskDescription").value)
                  inputData["description"]= document.getElementById("taskDescription").value;

              }else{
                  $.alert('Please enter a Description', 'Invalid Input');
                  flag=0;
              }

              var dueDate = document.getElementById("taskDueDate").value
              if(dueDate != "")
              {
                  if(isValidDate(dueDate)){
                      console.log(dueDate)
                      inputData['dueDate']= dueDate ;
                  }else{
                      $.alert("Inavlid date", "Enter valid Date")
                      flag=0;
                  }


              }else{
                  flag=0;
              }
              if(flag==1){
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      console.log(this.responseText);
                      var res=JSON.parse(this.responseText);
                      if(res["message"] == "OK"){
                          $('#add_task_modal').modal('hide');
                          $.confirm({
                              title: 'Task Added!',
                              content: 'Your task was added successfully!',
                              buttons: {
                                  Okay: function () {
                                      location.reload(true);
                                  }
                              }
                          });
                      }
                    }
                  };
                  var parm='title='+ inputData['title']+ '&description=' + inputData['description'] + '&dueDate=' + inputData['dueDate'] + '&csrfmiddlewaretoken=' + '{{csrf_token}}';
                  xhttp.open("POST", "tasks/", false);
                  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                  xhttp.send(parm);
              }else{
                  console.log("REQUEST FAILED... INVALID DATA")
              }
          });
          function isValidDate(s) {
                var bits = s.split('-');
                var d = new Date(bits[0], bits[1] - 1, bits[2]);
                return d && (d.getMonth() + 1) == bits[1];
            }
         });


</script>
<div class="container">
			   {% block todo_content %}{% endblock %}
</div>
{% endblock %}
