{% extends "todoApp/todoApp_base.html" %}
{% block todo_content %}

    <div class="row">
        <br>
        <p style="font-size: 30px; margin-left: 450px;color: #070707; font-family: Gill Sans;"><b>Tasks</b></p>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-1">
              <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-md-5">
            <input class="form-control lengthAdjust" id="search_input" type="text" placeholder="Search Tasks ...">
          </div>
          <div class="col-md-2">
          <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:80%" >
                      <span id="dropdown_text" type= "text"></span>
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item">All</a></li>
                      <li><a class="dropdown-item">Today</a></li>
                      <li><a class="dropdown-item">Overdue</a></li>
                      <li><a class="dropdown-item">This Week</a></li>
                      <li><a class="dropdown-item">Next Week</a></li>
                  </ul>
          </div>
          </div>
          <div class="col-md-3">
                <button class="btn btn-primary" id="add_task_btn" data-toggle="modal" data-target="#add_task_modal" style="width:100%">Add Task</button>
          </div>

          </div>
        </div>
        <br>
    </div>
    <br>
</div>
<!-- -------------- accordion below ------------- -->

  <div class="panel-group" id="accordion">
  </div>


<!-- modal add task here  -->

  <div id="add_task_modal" class="modal fade" >
          <div class="modal-dialog">
                  <div class="modal-content">



                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Add new task</h4>
                      </div>

                    <div class="modal-body">
                        <form id="" action="/" method="post">
                          <br>
                            <div class="row">
                                <div class="input-field col-md-12">
                                    <label for="taskTitle">Task Title : </label>
                                    <input  id="taskTitle" type="text" class=" form-control validate" placeholder="Enter Task Title" maxlength="20">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="input-field col-md-12">
                                    <label for="taskDescription">Task Description : </label>
                                    <input  id="taskDescription" type="textarea" class=" form-control validate" placeholder="Enter Task Description" maxlength="198">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-field inline">
                                        <label for="taskDueDate" >Due date : </label>
                                    <input  id="taskDueDate" type="date" class=" form-control validate" placeholder="Due date for task">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add_task_submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
        </div>
    </div>
    <!-- --------- add SUB-TASK modal below ----------- -->

    <div id="add_sub_task_modal" class="modal fade" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <b><h2 class="modal-title">SubTask</h2></b>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="input-field col-md-12">
                          <label for="subTaskTitle">Task Title : </label>
                          <br><input type="text" id="subTaskTitle" class="field-long form-control" placeholder="SubTask Title..." maxlength="198" style="margin-bottom: 4px;"/>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="input-field col-md-12">
                          <label for="subTaskDescription">Task Description : </label>
                          <br><input type="text" id="subTaskDescription" class="field-long form-control" placeholder="SubTask Description ..." maxlength="198" style="margin-bottom: 4px;"/>
                        </div>
                      </div>
                      <br>
                      <input id="taskIdForSubtask" type="text" class="validate" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="addSubTaskSubmit" class="btn btn-primary">Add</button>
                    </div>
                </div>
        </div>
    </div>
    <div id="add_alert_for_task_modal" class="modal fade" >
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <b><h2 class="modal-title">Hours Before Alert</h2></b>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="input-field col-md-12">
                <label class="checkbox-custom">Hours Before Task</label>
                <select name= 'hours' id='hours_befor_task'>
                      <option value="1">00.00</option>
                      <option value="1">01.00</option>
                      <option value="2">02.00</option>
                      <option value="23">3.00</option>
                      <option value="24">4.00</option>
                      <option value="1">5.00</option>
                      <option value="2">6.00</option>
                      <option value="23">7.00</option>
                      <option value="24">8.00</option>
                      <option value="1">9.00</option>
                      <option value="2">10.00</option>
                      <option value="23">11.00</option>
                      <option value="24">12.00</option>
                      <option value="1">13.00</option>
                      <option value="2">14.00</option>
                      <option value="23">15.00</option>
                      <option value="24">16.00</option>
                      <option value="1">17.00</option>
                      <option value="2">18.00</option>
                      <option value="23">19.00</option>
                      <option value="24">20.00</option>
                      <option value="1">21.00</option>
                      <option value="2">22.00</option>
                      <option value="23">23.00</option>
                      <option value="24">24.00</option>
                  </select>
              </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="add_alert" class="btn btn-primary">Save</button>
            </div>
            <input id="taskIdForAlert" type="text" class="validate" hidden>
          </div>
      </div>
    </div>
{% endblock %}
